@use "../../customstyle.scss" as *;

.dashboard-timeline {
    .rct-sidebar-row {
        line-height: normal !important;
        padding: 0 !important;
        background: none !important;
    }

    .sticky {
        position: sticky;
        top: 0;
        z-index: 2;
    }

    .rct-outer {
        overflow-y: auto !important;
        height: 70vh !important
    }


}

.rct-scroll {
    overflow-x: hidden !important;
    height: 200px
}

.dashboard-timer {
    font-size: 20px;
    color: $secondaryText;
    letter-spacing: 2px;
    font-weight: 600;
}

.dashboard-timer-card {
    width: 399px;
    background-color: #f0f0f0;

    .ant-card-body {
        padding: 0;
    }


}