@use "../../../customstyle.scss" as *;

.client-profile-tabs,
.appointment-tabs,
.patient-profile-tabs {
  .table-title {
    margin: 20px 0px 20px 0px;
  }

  .ant-input-search-icon::after,
  .ant-table-container::after {
    content: none;
  }

  .ant-table-selection-column {
    .ant-checkbox-wrapper {
      display: none;
    }
  }

  .ant-table-row-level-1 {
    .actions {
      display: none;
    }
  }

  .customer-decline {
    padding-right: 12px;
  }

  .ant-table-cell:not(:last-child) {
    border-right: none !important;
  }

  .sub-total {
    display: flex;
    justify-content: flex-end;

    .total-amount {
      padding-left: 23px;
    }
  }

  .appointment-estimate-search {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 25px;
    border-radius: 50px;

    .ant-input {
      margin-right: 10px;
    }

    .ant-input-search-icon:before {
      border-left: none;
    }
  }

  .invoice {
    margin-top: 25px;

    .sub-total-amount {
      margin-top: 15px;
    }

    .invoice-summary {
      padding-right: 23px;
    }

    .total-due {
      padding: 56px 60px 56px 60px;
      border-radius: 6px;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .pay-now {
        margin-bottom: 15px;
        background-color: rgba(217, 217, 217, 1);
        ;
      }

      button {
        width: 295px;
      }
    }
  }
}